@import url('https://fonts.googleapis.com/css?family=Rye|Bungee+Shade&display=swap:200,300,400,500,600,700');
/* ---------------------------------------------------------------------------------------Nav bar , Links and Logo design */
li a{
    text-align: center;
    letter-spacing: 5px;
}

.navbar li{
    padding-right: 2rem;
    
}

.hero-image{
    height: 400px;
    width:100%;
    background-size:cover;
    background-color: gray;
    margin-top: 15px;
}
/*------------------------------------------------------------------------------Carousel Image */
.carousel-inner img{
    width: 80%;
    height: 900px;
    
    text-align: center;
    position: relative;
    left: 10%;
    padding: 20px 0;
}
/*------------------------------------------------------------------------------- font styles*/
h1 {
    font-family: "Bungee Shade";
    font-weight: 500;
}
.navbar-brand{
    font-family:"Rye";
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 25px;
}

h3 {
font-family:"Rye";
letter-spacing: 4px;
font-weight: 500;
}

{
    color: #fafafa;
}

h4 {
    color: #fafafa;
}

/*-------------------------------------------------------------------------------------footer content */

/*-------------------------------------------------------------------------------------Contact Page*/
.row-contact{
    height: 300px;
    border: solid red 2px;
}


/*-------------------------------------------------------------------------------------Social media Icons*/
.youtube i {
    color:#c4302b;
    
}

.facebook i {
    color: #3b5998;
}

.spotify i {
    color: #1db954;
}

.twitter i {
    color: #1da1f2;
}

.footer-icons li {
    list-style-type: none;
    font-size: 40px;
    text-align: center;
    display: inline;
}
.footer-icons i {
    width: 24%
}

/*------------------------------------------------------------------------------------------Footer content*/
footer{
    background-color: #343a40;
}

footer h4{
    text-align: center;
    font-family: "Rye";
    padding-top: 10px;
}

footer .copyright{
    color: #fafafa;
    text-align:center;
    font-family: "Rye";
    font-size: 10px;
    padding-bottom: 30px;
}
/*-------------------------------------------------------------------------------------------------Parallax image*/
#parallax-image{
    background-image: url("../img/concert-image.jpg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax-image1{
    background-image: url("../img/concert-image2.jpg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax-image3{
    background-image: url("../img/concert-image.jpg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-center {
    color: whitesmoke;
    font-size: 50px;
}

.kyle-image{
    background-image: url("../img/kyle5.jpg");
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: black solid 5px;
    text-align: center;
    margin: 0 auto;
    
}

.scott-image{
    background-image: url("../img/scott3.png");
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: black solid 5px;
    margin: 0 auto;
}



/*----------------------------------------------------------------------------------------------------------------------------Media Queries*/

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .hero-image, .carousel-inner img
   {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    align-content: center;
    padding: 20 0;
    
   }

   h1.display-2{
       position: relative;
       margin: 0 auto;
       font-size: 20px;
   }

   h3{
       font-size: 14px;
   }

   .footer-icons {
       padding-left: 5px;
   }
   .footer-icons li{
       font-size: 35px;
   }
   footer h4{
    text-align: center;
    font-family: "Rye";
    padding-top: 5px;
    font-size: 20px;
}

footer .copyright{
    color: #fafafa;
    text-align:center;
    font-family: "Rye";
    font-size: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
}


